body {
    background-color: mistyrose;
    color:rgb(113, 5, 81);
}

header {
    background-color: rgb(255, 196, 239);
font-size: 32px;
padding: 10px;
border-bottom: solid 2px #cc90effb;
}
 
.primeirovideo {
    background-color: rgb(226, 43, 214);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
